* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px 20px;
  background: black;
  color: white;
  display: flex;
  /* gap: 80vw; */
  justify-content: space-between;
}

.ttt {
  padding: 5px;
  display: flex;
}

.logo {
  padding-right: 0.5em;
  margin-right: 1em;
  border-right: 2px solid yellow;
}

.title {
  padding-top: 0.7em;
}

.courses {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  color: black;
  border-radius: 5px;
  background-color: rgb(237, 213, 5);
}

.bg img {
  height: 50vw;
  width: 100%;
}

.about {
  padding: 10px 5vw;
  padding-bottom: 100px;
  border-bottom: 1px solid #dcdcdc;
}

.top {
  display: flex;
  gap: 1rem;
}

.img img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  transform: translateY(-30%);
  object-fit: cover;
}

.name {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.name-top {
  display: flex;
  gap: 5%;
  align-items: center;
  /* width: 100%; */
}

/* .name-top i{
  padding-top: 10px;
} */

.name-top h3 {
  font-size: 3.5vw;
}

.name-bottom {
  display: flex;
  gap: 5vw;
  color: gray;
}

.name-bottom h2 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border: 2px solid gray;
  padding: 0 1rem;
  border-radius: 10px;
}

.name-bottom h3 {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.bottom h2 {
  font-size: 0.8rem;
  color: #696969;
  padding-bottom: 0.2rem;
}

.bottom a {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
  font-size: 0.7rem;
}

.reach {
  padding-top: 1rem;
  display: flex;
  gap: 0.8rem;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.star p {
  font-size: 0.7rem;
}

.post-count {
  position: relative;
}
.demo {
  position: absolute;
  top: -82px;
  /* transform: translateY(-100px); */
  background-color: white;
  color: skyblue;
  height: 50px;
  width: 200px;
  border-top: 1px solid rgb(171, 169, 169);
  border-right: 1px solid rgb(171, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  border-bottom: 1px solid rgb(171, 169, 169);
  padding: 0 1.2rem;
}

.posts-section p {
  font-size: 0.8rem;
  color: gray;
  margin: 1rem 0;
}

.post-title {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.post-title h2 {
  font-size: 1.1rem;
}

.author {
  display: flex;
  justify-content: space-between;
}

.author p {
  font-size: 0.7rem;
}

.author h2 {
  color: skyblue;
}

.author {
  color: skyblue;
}
